---
import Layout from "../layouts/Layout.astro";
export const prerender = false;
---

<Layout title="Dashboard">
	<main id="app">
        <p>Dashboard</p>
	</main>
</Layout>

<style>
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
</style>
