---
import Layout from "../layouts/Layout.astro";
import AspspList from "../components/data/AspspList";

export const prerender = false;
---
<Layout title="Dashboard">
  <main id="app">
    <p>Dashboard</p>
    <AspspList client:load />
  </main>
</Layout>
