---
import Layout from "../layouts/Layout.astro";
import { RegisterForm } from "../components/RegisterForm";
import { LoginForm } from "../components/LoginForm";

export const prerender = false;
---

<Layout title="Index">
    <main id="app">
        <div class="flex items-center justify-center bg-gray-50 p-4">
            <div class="w-full">
                <RegisterForm />
                <LoginForm />
            </div>
        </div>
	</main>
</Layout>

<style>
#app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
</style>
